div {
  box-sizing: border-box;
}

/* 녹색 텍스트 */
.green {
  color: #fff;
}

.wrap {
  background-color: #f1eeee;
}
/* 마이페이지 */
.greenContainer {
  height: 132px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 16px;
}

.greenContainer .name {
  font-size: 30px;
  font-weight: bold;
  color: #070707;
}
.greenContainer .modify {
  margin-left: auto;
}

/* 닉네임 , 비밀번호변경 , 문의 ,찜 */
.summaryContainer {
  background-color: white;
  display: flex;
  padding: 21px 16px;
  height: 300px;
  margin-bottom: 10px;
}

/* 녹색 숫자 */
.summaryContainer .number {
  font-size: 30px;
  font-weight: bold;
  border: none;
  color: #24855b;
}
.summaryContainer .text {
  font-size: 20px;
  color: #424242;
  font-weight: bold;
  position: relative;
  margin-left: 20px;
  padding-top: 10px;
}
.summaryContainer .item {
  border: none;
  width: 100%;
}

/*=================== 회원정보 리스트 ==================*/
.listContainer {
  padding: 0;
  background-color: #ffffff;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.listContainer .item {
  display: flex;
  align-items: center;
  padding: 16px;
  width: 100%;
  color: black;
  text-decoration: none;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: none;
}
.listContainer .icon {
  margin-right: 20px;
}
.listContainer .text {
  font-size: 20px;
  position: relative;
  margin-left: 20px;

  font-weight: bold;
}
.listContainer .right {
  margin-left: auto;
}
/* 녹색 숫자 */
.listContainer .number {
  font-size: 30px;
  font-weight: bold;
  border: none;
  color: #24855b;
  margin-left: 20px;
  padding-top: 20px;
}

/* 공지사항 이용안내 고객센터 */
.infoContainer {
  background-color: white;
  display: flex;
  height: 100px;
  margin-bottom: 10px;
}

.infoContainer .item {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
  text-decoration: none;
  color: black;
  border: none;
}
.infoContainer .item > div:first-child {
  margin-bottom: 2px;
}

.listbutton {
  width: 300px;
  background-color: #fcc555;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 15px;
  border: none;
  border-radius: 20px;
}
/* 버튼을 호버할 때(마우스를 올릴 때) 배경색 변경 */
.listbutton:hover {
  background-color: #ffb012; /* 원하는 호버 배경색으로 변경 */
}
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
