.detail-container {
  width: 80%;
  margin: 0 auto;
  display: block;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

  background-color: aqua;
}

/* 예약하기 버튼 */
.button-1 {
  padding: 5px 50px;
  background-color: #3f3636;
  color: white;
  border-style: none;
  border-radius: 5px;
  margin-top: 50px;
}

.kakao-map {
  margin: 0 auto;
  display: grid;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.title-text {
  font-size: 24px;
}
